<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Stream Button</title>
  <style type="text/css">
  <!--
  body {
    font-family: "たいぷ", "Arial", "メイリオ";
    font-size: 50px;
  }
  table {
    background-color: #fff;
  }
  -->
  </style>
</head>
<% if NGINX %>
  <script type="text/javascript" src="public/prototype.js"></script>
<% else %>
  <script type="text/javascript" src="prototype.js"></script>
<% end %>
<body>
  <script type="text/javascript">
    <% (1..7).each do |id| %>
      new Ajax.PeriodicalUpdater(
        "id<%= id %>",
        "<%= request.path_info %>",
        {
          "method": "get",
          "parameters": "id=<%= id %>",
          frequency: 5, // N秒ごとに実行
          onSuccess: function(request) {
            // 成功時
          },
          onComplete: function(request) {
            // 完了時
          },
          onFailure: function(request) {
            console.log('読み込みに失敗しました');
          },
          onException: function (request) {
            console.log('読み込み中にエラーが発生しました');
          }
        }
      );
    <% end %>
  </script>
  <table id="msgs">
    <% if NGINX %>
    <%= select_data.map { |id, count| "<tr><td><img src='public/#{id}.png' width='100' height='100'></td><td id='id#{id}'>#{ "%0.2d" % count }</td></tr>" }.join %>
    <% else %>
    <%= select_data.map { |id, count| "<tr><td><img src='#{id}.png' width='100' height='100'></td><td id='id#{id}'>#{ "%0.2d" % count }</td></tr>" }.join %>
    <% end %>
  </table>
</body>
</html>
